<h1>Word Count</h1>

<h3>Find out how many times your word shows up in your sentence!</h3>
<form action="/results" class="well">
  <div class="form-group">
    <label for="word">Enter your word here:</label>
    <input class="form-control" type="text" name="word">
    <label for="sentence">Enter your sentence here:</label>
    <input class="form-control" type="text" name="sentence">
  </div>
  <button type="submit" name="button" class="btn-success btn">Let's see the Count!</button>
</form>
