<h1>How many times did your word appear in the sentence?</h1>
<p>Your word: <%= @word %></p>
<p>Your sentence: <%= @sentence %></p>
<p>Word Count: <%= @result %></p>
<img class="img-responsive" src="/img/count.jpg" alt="" />
